* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

.container {
  min-width: 900px;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.btn-brand {
  color: white;
  background-color: #0182FA;
  border: none;
}

header {
  background: white;
  height: 100px;
}
header h2 {
  color: #0182FA;
}
header img {
  height: 80px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  display: inline;
  padding: 10px;
}
header ul li a {
  display: inline-block;
  color: #1C1C1C;
  line-height: 96px;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
header ul li a:hover, header ul li a.active {
  color: #0182FA;
  border-bottom: 4px solid #0182FA;
}

main {
  background: #1C1C1C;
  min-height: 100px;
  color: white;
}

footer {
  background: #303030;
  min-height: 100px;
}