* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

.container {
  min-width: 900px;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.btn-brand {
  color: white;
  background-color: #0182FA;
  border: none;
}

header {
  background: white;
  height: 100px;
}
header h2 {
  color: #0182FA;
}
header img {
  height: 80px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  display: inline;
  padding: 10px;
}
header ul li a {
  display: inline-block;
  color: #1C1C1C;
  line-height: 96px;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
header ul li a:hover, header ul li a.active {
  color: #0182FA;
  border-bottom: 4px solid #0182FA;
}

main {
  background: #1C1C1C;
  min-height: 100px;
  color: white;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0 20px;
}
main .container button {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 45px;
}
main .container div.box {
  flex-basis: calc(100% / 6);
  margin: 20px 0;
  padding: 0 10px;
}
main .container div.box .box-img {
  position: relative;
  height: 160px;
  overflow: hidden;
}
main .container div.box .box-img img {
  position: absolute;
  top: 0;
  width: 100%;
}
main .container div.box p {
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 0.8rem;
}

section.section-jumbo {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}
section.section-jumbo .container {
  position: relative;
}
section.section-jumbo .container button {
  font-size: 1.5rem;
  position: absolute;
  bottom: -10px;
  padding: 5px 15px;
  font-weight: 600;
}

section.section-option {
  height: 150px;
  background-color: #0182FA;
}

section.section-option .container {
  display: flex;
}
section.section-option .container div {
  flex-basis: calc(100% / 5);
  position: relative;
  text-align: center;
  line-height: 150px;
}
section.section-option .container div img {
  max-width: 55px;
  max-height: 60px;
  transform: translateY(30%);
}
section.section-option .container div p {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

footer {
  background: #303030;
  min-height: 100px;
}

footer section.links {
  background-image: url("../img/footer-bg.jpg");
  overflow: hidden;
}
footer section.links .container {
  display: flex;
  position: relative;
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: 320px;
  background-position: right center;
}
footer section.links .container div {
  flex-basis: calc(100% / 10);
  padding: 30px 10px 30px 0;
}

footer section.links ul li:first-child {
  font-size: 0.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
footer section.links ul li:first-child a {
  color: white;
}
footer section.links ul li {
  font-size: 0.5rem;
  margin: 6px 0;
}
footer section.links ul li a {
  color: #6D7364;
}
footer section.links ul li:last-child {
  margin-bottom: 10px;
}

footer section.social {
  height: 110px;
}
footer section.social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer section.social ul li:first-child {
  font-weight: 600;
  margin-right: 10px;
}
footer section.social ul li {
  display: inline-block;
  margin: 0 5px;
  color: #0182FA;
}
footer section.social ul li a {
  font-size: 0.8rem;
}
footer section.social ul li a img {
  height: 25px;
  vertical-align: middle;
}

footer section.social button {
  border: 2px solid #0182FA;
  padding: 10px;
  font-size: 0.6rem;
  background: transparent;
  color: white;
}