section.section-option{
  height: 150px;
  background-color: $brand-color;

}

section.section-option .container{
  display: flex;
  div{
    flex-basis: calc(100% / 5);
    position: relative;
    text-align: center;
    line-height: 150px;
    img{
      max-width: 55px;
      max-height: 60px;
      transform: translateY(30%);
    }
    p{
      display: inline-block;
      margin-left: 10px;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
}